
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(248, 249, 250);
    background-image: url(img/wallpaper006.jpg);
    background-size:cover;
    background-attachment: fixed;
    color: black;
   

}
header{
    background-color:#1653a4;
    text-align: center;
    color: white;
    padding: 50px;
}
main{
    text-align: center;
    margin-top: 40px;
  
    
    
    
}
nav{
    background-color:#1653a4;
}
div{
    display: inline-block;
    margin-left: 20px;
    margin-right: 40px;
    border-radius: 0px 0px 0px 30px;
    color: white;
    align-items: center;
}
img{
    width: 400px;
    height: 400px;
    background-size: 100%,100%;
    
}
.foto{
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    
}
h2{
    margin: 10px;
}

.container-slide{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height:50vh;
    background-color: rgba(0, 0, 0, 0.282);
    margin: 20vh auto;
    
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
    


}
.container-items{
    position: absolute;
    display: flex;
    background-color: rgba(253, 248, 248, 0.175);
    width: 50vw;
    height: 50vh;
   
}
.item{
    width: 50vw;
    height: 50vh;
    transition: all 1s;
   
    
}
.item:first-child{
    margin-left: -100%;
}

.item img{
    width: 50vw;
    height: 50vh;
}
.action-button{
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 50px;
    user-select: none;
    color: #00000055;

}
.action-button:hover{
    color: rgb(244, 232, 232);
    background-color: rgba(0, 0, 0, 0.88);
    
    cursor: pointer;
    transition: all 1s;
}
